# Dependencies
node_modules/
**/node_modules/
final-project/

# Production build outputs
dist/
**/dist/
target/
**/target/

# IDE/Editor files
.idea/
**/.idea/
.vscode/
**/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local

# Temp/Logs
*.log
**/logs/
