body {
  font-family: Arial;
  background: #f5f6fa;
}

.center-box {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
}

button {
  padding: 10px;
  background: #2f3640;
  color: white;
  border: none;
  cursor: pointer;
}

.dashboard {
  padding: 20px;
}

.form-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}